[submodule "cnp-idam-packer"]
	path = cnp-idam-packer
	url = git@github.com:hmcts/cnp-idam-packer.git
[submodule "forgeops"]
	path = forgeops
	url = git@github.com:hmcts/forgeops.git
[submodule "forgeops-config"]
	path = forgeops-config
	url = git@github.com:hmcts/forgeops-config.git
