.idea/

# Forbid binary files in the repository, these need to be copied in manually
**/*.war
**/*.zip

# Working folder
work/

# For working with other branches
forgeops/
forgeops-config/
*id_rsa
*id_rsa.pub
