[submodule "cnp-idam-packer"]
	path = cnp-idam-packer
	url = git@github.com:hmcts/cnp-idam-packer.git
[submodule "forgeops"]
	path = forgeops
	url = git@github.com:hmcts/forgeops.git
[submodule "forgeops-init"]
	path = forgeops-init
	url = git@github.com:hmcts/forgeops-init.git
